  {{#each this itemController="tweet"}}
          <div class="row">
        
              <div class="col-lg-6 col-sm-6"><div class="well">{{{horse_js_tweet_oembed.html}}}</div></div>
              <div class="col-lg-6 col-sm-6"><div class="well">

                {{#if inspiration_tweet_oembed.html}}
                  {{{inspiration_tweet_oembed.html}}}
                {{else}}
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                    {{input value=inspirationTweetUrl placeholder="Inspiration tweet URL"}}
                    </div>
                    <button {{action "saveMapping" this}} type="button" class="btn btn-primary btn-xs col-lg-4 col-sm-4">
                       <i class="glyphicon glyphicon-cloud-upload"></i> 
                        Save new mapping
                    </button>
                  </div>

                {{/if}}
              </div></div>
          </div>
  {{/each}}
